/*------------------------------------------------------------------------
# JA Pariiti 1.0 - June, 2007
# ------------------------------------------------------------------------
# Copyright (C) 2004-2007 J.O.O.M Solutions Co., Ltd. All Rights Reserved.
# @license - Copyrighted Commercial Software
# Author: J.O.O.M Solutions Co., Ltd
# Websites:  http://www.joomlart.com -  http://www.joomlancers.com
-------------------------------------------------------------------------*/

/* MAIN NAVIGATION
----------------------------------------------------------- */
#ja-splitmenu {
	margin: 0;
	padding: 0;
}

#ja-splitmenu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#ja-splitmenu li {
	margin: 0;
	padding: 0;
	display: inline;
}

#ja-splitmenu a {
	float: left;
	margin: 0;
	padding: 0;
	display: block;
	color: #E8E5CD;
	font-size: 150%;
	font-weight: bold;
	cursor: pointer;
}

#ja-splitmenu a span {
	display: block;
	float: left;
	padding: 14px 15px 11px 15px;
}

#ja-splitmenu a:hover,
#ja-splitmenu a:active,
#ja-splitmenu a:focus {
	background: none;
	color: #FFFFFF;
	outline: none;
}

#ja-splitmenu li.active a,
#ja-splitmenu li.active a:hover,
#ja-splitmenu li.active a:active,
#ja-splitmenu li.active a:focus {
	color: #4E5729;
	background: url(../../images/tab-active-right.gif) no-repeat bottom right;
}

#ja-splitmenu li.active a span,
#ja-splitmenu li.active a:hover span,
#ja-splitmenu li.active a:active span,
#ja-splitmenu li.active a:focus span {
	padding: 14px 30px 11px 30px;
 	background: url(../../images/tab-active-left.gif) no-repeat bottom left;
	color: #4E5729;
}

#ja-splitmenu li.active span {
	padding: 20px 0;
}

/* SUB NAVIGATION
--------------------------------------------------------- */
#ja-subnav {
	padding-left: 35px;
}

#ja-subnav ul {
	margin: 0;
	padding: 0;
}

#ja-subnav li {
	margin: 0;
	padding: 0;
	display: inline;
	background: none;
	line-height: normal;
}

#ja-subnav a {
	padding: 8px 15px 8px 15px;
	float: left;
	display: block;
	color: #4E5729;
	border-bottom: none;
	font-size: 115%;
	background: url(../../images/bullet-list.gif) no-repeat left center;
}

#ja-subnav a:hover,
#ja-subnav a:active,
#ja-subnav a:focus {
	color: #D3660D;
	border-bottom: none;
}

#ja-subnav li.active a,
#ja-subnav li.active a:hover,
#ja-subnav li.active a:active,
#ja-subnav li.active a:focus {
	color: #D3660D;
	font-weight: bold;
	border-bottom: none;
}

#ja-subnav .first-item {
	border-left: none;
}
