/*------------------------------------------------------------------------
# JA Pariiti - June, 2007
# ------------------------------------------------------------------------
# Copyright (C) 2004-2006 J.O.O.M Solutions Co., Ltd. All Rights Reserved.
# @license - Copyrighted Commercial Software
# Author: J.O.O.M Solutions Co., Ltd
# Websites:  http://www.joomlart.com -  http://www.joomlancers.com
-------------------------------------------------------------------------*/

/* Script Dropline Menu
--------------------------------------------------------- */
#jasdl-mainnav ul, #jasdl-subnav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#jasdl-mainnav ul li, #jasdl-subnav ul li {
	margin: 0;
	padding: 0;
	display:inline;
	background: none;
}

#jasdl-mainnav a {
	float: left;
	display: block;
	margin: 0;
	padding: 0;
	color: #E8E5CD;
	font-size: 150%;
	font-weight: bold;
}

#jasdl-mainnav a span {
	display: block;
	float: left;
	padding: 14px 15px 11px 15px;
	cursor: pointer;
}

#jasdl-mainnav a:hover,
#jasdl-mainnav a:active,
#jasdl-mainnav a:focus,
#jasdl-mainnav ul li.hover a {
	background: none;
	color: #FFFFFF;
	outline: none;
}

#jasdl-mainnav li.active a,
#jasdl-mainnav li.active a:hover,
#jasdl-mainnav li.active a:active,
#jasdl-mainnav li.active a:focus {
	color: #4E5729;
	background: url(../../images/tab-active-right.gif) no-repeat bottom right;
}

#jasdl-mainnav li.active a span,
#jasdl-mainnav li.active a:hover span,
#jasdl-mainnav li.active a:active span,
#jasdl-mainnav li.active a:focus span {
	padding: 14px 30px 11px 30px;
 	background: url(../../images/tab-active-left.gif) no-repeat bottom left;
	color: #4E5729;
}

#jasdl-mainnav ul li.havechild {
}

#jasdl-mainnav ul li.havechild-active {
}

#jasdl-subnav {
	line-height: normal;
	padding-left: 40px;
}

#jasdl-subnav a {
	padding: 8px 15px 8px 20px;
	float: left;
	display: block;
	color: #333333;
	border-bottom: none;
	font-size: 115%;
	background: url(../../images/bullet-list.gif) no-repeat left center;
}

#jasdl-subnav a:hover,
#jasdl-subnav a:active,
#jasdl-subnav a:focus {
	color: #D3660D;
}

#jasdl-subnav ul {
	display: none;
}

#jasdl-subnav ul li {
	display: inline;
	line-height: normal;
	padding: 0;
	margin: 0;
}

#jasdl-subnav ul li.active a {
	color: #D3660D;
	font-weight: bold;
	border-bottom: none;
}

#jasdl-subnav ul li.ja-spacer span {
	padding: 8px 0 8px 0;
	font-size: 115%;
	display: block;
}
