/*big menu*/

#ja-slidemenu {
	position: relative;
	padding: 10px 0;
}

#ja-slidemenu ul {
	display: block;
	background: #1d1d20;
}

#ja-slidemenu li {
	float: left;
	padding: 0;
	width: 100px;
}

#ja-slidemenu a {
	display: block;
	cursor: pointer;
	overflow: hidden;
	background: #fff;
	width: 98%;
	background-position: center right;
	background-repeat: no-repeat;
}
