/*------------------------------------------------------------------------
# JA Pariiti - June, 2007
# ------------------------------------------------------------------------
# Copyright (C) 2004-2007 J.O.O.M Solutions Co., Ltd. All Rights Reserved.
# @license - Copyrighted Commercial Software
# Author: J.O.O.M Solutions Co., Ltd
# Websites:  http://www.joomlart.com -  http://www.joomlancers.com
-------------------------------------------------------------------------*/

/* TransMenu
-------------------------------------------------
Originally developed by Aaron Boodman
http://www.youngpup.net/
--------------------------------------------------
NOTE: TransMenu background and some
configurations are located in the ja-transmenu.js.
-------------------------------------------------*/


/* this is the clipping region for the menu. it's width and height get set by script, depending on the size of the items table */
.transMenu {
	position: absolute;
	overflow: hidden;
	left: -1000px;
	top: -1000px;
}

/* this is the main container for the menu itself. it's width and height get set by script, depending on the size of the items table */
.transMenu .content {
	position: absolute;
}

/* this table comprises all menu items. each TR is one item. It is relatively positioned so that the shadow and background transparent divs can be positioned underneath it */
.transMenu .items {
	position: relative;
	left: 0px;
	top: 0px;
	z-index: 2;
}

.transMenu.top .items {
}

/* this DIV is the semi-transparent white background of each menu. the -moz-opacity is a proprietary way to get transparency in mozilla, the filter is for IE/windows 5.0+. */
/* we set the background color in script because ie mac does not use it; that browser only uses a semi-transparent white PNG that the spacer gif inside this DIV is replaced by */
.transMenu .background {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1;
	-moz-opacity: .9;
	filter: alpha(opacity=90);
}

/* same concept as .background, but this is the sliver of shadow on the right of the menu. It's left, height, and background are set by script. In IE5/mac, it uses a PNG */
.transMenu .shadowRight {
	width: 2px;
	position: absolute;
	z-index: 3;
	top: 3px;
	-moz-opacity: .4;
	filter: alpha(opacity=40);
}

/* same concept as .background, but this is the sliver of shadow on the bottom of the menu. It's top, width, and background are set by script. In IE5/mac, it uses a PNG */
.transMenu .shadowBottom {
	position: absolute;
	z-index: 1;
	left: 3px;
	height: 2px;
	-moz-opacity: .4;
	filter: alpha(opacity=40);
}

/* each TR.item is one menu item */
.transMenu .item {
	color: #FFFFFF;
	text-transform: none;
	text-align: left;
	/* this is a hack for mac/ie5, whom incorrectly cascades the border properties of the parent table to each row */
	border: none;
	cursor: pointer;
	font-size: 100%;
}

/* this is the class that is used when the mouse is over an item. script sets the row to this class when required. */
.transMenu .item.hover {
	color: #FFFFFF;
	background: #D3660D;
}

/* this is either the dingbat that indicates there is a submenu, or a spacer gif in it's place. We give it extra margin to create some space between the text and the dingbat */
.transMenu .item img {
	margin-left: 10px;
}

/* ----------------------------------------------------------------
- Added classes by Khanh - 050629
- Style and mark-up improved by Hieu Nguyen & Ha Le Viet - 060718
-------------------------------------------------------------------*/
.transMenu .item#active {
	color: #FFFFFF;
	background: #D3660D;
	/* -moz-opacity: .6;
	filter: alpha(opacity=60); */
}

.transMenu .item#active:hover {
	color: #FFFFFF;
	background: #D3660D;
}

/* For first level menu.*/
#ja-transmenu {
	margin: 0;
	padding: 0;
}

#ja-transmenu li {
	margin: 0;
	padding: 0;
	background: none;
	display: inline;
}

#ja-transmenu li a { /* common styles for 1st level menu */
	float: left;
	margin: 0;
	padding: 14px 15px 11px 15px;
	display: block;
	color: #CCCCCC;
	font-size: 150%;
	font-weight: bold;
}

#ja-transmenu li a:hover,
#ja-transmenu li a:active,
#ja-transmenu li a:focus {
	background: url(../../images/arrow-down.gif) no-repeat top center;
	color: #FFFFFF;
	outline: none;
}

#ja-transmenu a.havechild-mainlevel-trans {
}

#ja-transmenu a.havechild-mainlevel-active-trans,
#ja-transmenu a.havechild-mainlevel-active-trans:hover,
#ja-transmenu a.havechild-mainlevel-active-trans:active,
#ja-transmenu a.havechild-mainlevel-active-trans:focus {
	color: #FFFFFF;
	background: #D3660D;
}
#ja-transmenu a.havechild-mainlevel-active-trans-first,
#ja-transmenu a.havechild-mainlevel-active-trans-first:hover,
#ja-transmenu a.havechild-mainlevel-active-trans-first:active,
#ja-transmenu a.havechild-mainlevel-active-trans-first:focus {
	color: #FFFFFF;
	background: #D3660D;
}
#ja-transmenu a.havechild-mainlevel-active-trans-last,
#ja-transmenu a.havechild-mainlevel-active-trans-last:hover,
#ja-transmenu a.havechild-mainlevel-active-trans-last:active,
#ja-transmenu a.havechild-mainlevel-active-trans-last:focus {
	color: #FFFFFF;
	background: #D3660D;
}

#ja-transmenu a.jahover {
	background: url(../../images/arrow-down.gif) no-repeat top center;
	color: #FFFFFF;
}

#ja-transmenu a.jahover-active {
	color: #FFFFFF;
	background: #D3660D;
}

a.mainlevel-trans {
}

#ja-transmenu a.mainlevel-trans:hover,
#ja-transmenu a.mainlevel-trans:active,
#ja-transmenu a.mainlevel-trans:focus {
	background: url(../../images/arrow-down.gif) no-repeat top center;
	color: #FFFFFF;
}

#ja-transmenu a.mainlevel-active-trans,
#ja-transmenu a.mainlevel-active-trans:hover,
#ja-transmenu a.mainlevel-active-trans:active,
#ja-transmenu a.mainlevel-active-trans:focus {
	color: #FFFFFF;
	background: #D3660D;
}

/* First item */
#ja-transmenu a.havechild-mainlevel-active-trans-first,
#ja-transmenu a.havechild-mainlevel-active-trans-first:hover,
#ja-transmenu a.havechild-mainlevel-active-trans-first:active,
#ja-transmenu a.havechild-mainlevel-active-trans-first:focus,
#ja-transmenu a.mainlevel-active-trans-first,
#ja-transmenu a.mainlevel-active-trans-first:hover,
#ja-transmenu a.mainlevel-active-trans-first:active,
#ja-transmenu a.mainlevel-active-trans-first:focus {
	color: #FFFFFF;
	background: #D3660D;
}

#ja-transmenu a.havechild-mainlevel-trans-first:hover,
#ja-transmenu a.havechild-mainlevel-trans-first:active,
#ja-transmenu a.havechild-mainlevel-trans-first:focus,
#ja-transmenu a.mainlevel-trans-first:hover,
#ja-transmenu a.mainlevel-trans-first:active,
#ja-transmenu a.mainlevel-trans-first:focus {
	background: url(../../images/arrow-down.gif) no-repeat top center;
	color: #FFFFFF;
}