/*------------------------------------------------------------------------
# JA Pariiti - June, 2007
# ------------------------------------------------------------------------
# Copyright (C) 2004-2007 J.O.O.M Solutions Co., Ltd. All Rights Reserved.
# @license - Copyrighted Commercial Software
# Author: J.O.O.M Solutions Co., Ltd
# Websites:  http://www.joomlart.com -  http://www.joomlancers.com
-------------------------------------------------------------------------*/

body#bd {
	background: #F7FCF9;
	color: #333333;
}

a {
	color: #333333;
}

a:hover, a:active, a:focus {
	color: #FF5721;
	background: #EDEDED;
}

ul li {
	background-image: url(../../images/red/bullet-list.gif);
}

.componentheading {
	background:	url(../../images/red/h3-bg.gif) no-repeat top left;
	color: #FF5721;
}

.article_seperator {
	background: url(../../images/red/sep.gif) no-repeat center;
}

#ja-containerwrap, #ja-containerwrap-f, #ja-containerwrap-c {
	background: url(../../images/red/body-bg.jpg) no-repeat top center;
}

.narrow #ja-containerwrap,
.narrow  #ja-containerwrap-f,
.narrow  #ja-containerwrap-c {
	background: url(../../images/red/body-narrow-bg.jpg) no-repeat top center;
}

#ja-container {
	background: #F7FCF9;
}

#ja-header {
	background: url(../../images/red/header-bg.jpg) no-repeat top center;
}

.narrow #ja-header {
	background: url(../../images/red/header-narrow-bg.jpg) no-repeat top center;	
}

#ja-upwrap {
	background: url(../../images/red/up-bg.gif) no-repeat center top;
}

.narrow #ja-upwrap {
	background: url(../../images/red/up-narrow-bg.gif) no-repeat center top;	
}

#ja-topsl {
	background: url(../../images/red/topsl-bg.jpg) repeat-x top left;
}

#ja-topsl div.ja-box-left,
#ja-topsl div.ja-box-center {
	background: url(../../images/red/sl-sep.jpg) no-repeat center right;
}

#ja-sh {
	background: url(../../images/red/sh-bg.jpg) no-repeat 15px 0 #EDEDED;
	padding-bottom: 15px;
}

.narrow #ja-sh {
	background: url(../../images/red/sh-narrow-bg.jpg) no-repeat 15px 0 #EDEDED;	
}

#ja-mainnav-wrap {
	background: #EDEDED;
}

#ja-mainnav {
	background: url(../../images/red/mn-right-bg.gif) no-repeat top right;
}

div.ja-mainnav-inner {
	background: url(../../images/red/mn-left-bg.gif) no-repeat top left;
}

#ja-subnav {
	background: #EDEDED;
	border-bottom: 1px solid #CCCCCC;
}

div.moduletable h3 {
	color: #FF5721;
	background: url(../../images/red/h3-bg.gif) no-repeat top left;
}

/* Default Joomla! Menu */
a.mainlevel {
	background-image: url(../../images/red/bullet-list.gif);
}

a.mainlevel:hover,
a.mainlevel:active,
a.mainlevel:focus {
	background-image: url(../../images/red/bullet-list.gif);
	background-color: #FFFFFF;
}

#active_menu {
	color: #FF5721 !important;
}

a.sublevel {
	background: url(../../images/red/sublevel-bg.gif) no-repeat top left;
}

.sectiontableheader {
	background: #666666;
}

tr.sectiontableentry1 td, tr.sectiontableentry2 td {
	border-bottom: 1px solid #CCCCCC;
}

.blog_more ul li {
	background: url(../../images/red/bullet-list.gif) no-repeat 2px 4px;
}

table.contenttoc td {
	background: url(../../images/red/bullet-list.gif) no-repeat 12px 8px;
}

table.contenttoc th {
	background: url(../../images/red/h3-bg.gif) no-repeat center left;
	color: #FF5721;
}

div.ja-slidebar ul li a {
	color: #CCCCCC;
}

div.ja-slidebar ul a.active,
div.ja-slidebar ul a:hover {
	background: #787878;
}

#ja-col1 {
	background: url(../../images/red/col1-top.gif) no-repeat top;
}

.narrow #ja-col1 {
	background: url(../../images/red/col1-narrow-top.gif) no-repeat top;
}

#ja-col1 div {
	background: url(../../images/red/col1-bot.gif) no-repeat bottom;
}

.narrow #ja-col1 div {
	background: url(../../images/red/col1-narrow-bot.gif) no-repeat bottom;
}

#ja-col1 div div {
	background: url(../../images/red/col1-mid.gif) repeat-y top;
}

.narrow #ja-col1 div div {
	background: url(../../images/red/col1-narrow-mid.gif) repeat-y top;
}

#ja-col1 ul li, #ja-col2 ul li {
	background-image: url(../../images/red/bullet-list.gif);
}

div.ja-slidebar {
	background: #666666;
}

#ja-botslwrap {
	background: url(../../images/red/botsl-bg.jpg);
}

#ja-botsl div.ja-box-left,
#ja-botsl div.ja-box-center {
	background: url(../../images/red/sl-sep.jpg) no-repeat center right;
}

#ja-footer {
	border-top: 1px solid #CCCCCC;
}

/* BONUS TYPOGRAPHY STYLES
-------------------------------------------------------------------------*/
/* Code text */
pre, .code {
	border-top: 3px solid #ECE3BF;
	border-bottom: 3px solid #ECE3BF;
	background: #F8FAED;
}

/* Quote */
blockquote {
	background: url(../../images/red/open_quotes.gif) 20px 10px no-repeat;
}

p.quote {
	background: url(../../images/red/close_quotes.gif) bottom right no-repeat;
}

/* Quote hilight */
div.quote-hilite {
	border: 1px solid #E9DDB0;
	background: url(../../images/red/q1_std_hl.gif) no-repeat 10px 10px #F8FAED;
}

div.quote-hilite blockquote {
	background: url(../../images/red/q2_std_hl.gif) no-repeat right bottom;
}

/* Dropcap */
.dropcap-hilite {
	background: #FF5721;
}

/* Tips, Error, Message, Hightlight*/
.error {
	background: url(../../images/bullet-error.gif) no-repeat 0 5px;
	color: #CC0000;
}

.message {
	background: url(../../images/bullet-info.gif) no-repeat 0 5px;
	color: #D3660D;
}

.tips {
	background: url(../../images/bullet-tips.gif) no-repeat 0 5px;
}

.highlight {
	border-bottom: 1px solid #E9DDB0;
	background: #FAF5D7;
}

/* Note Style */
p.stickynote {
	border: 1px solid #E9DDB0;
	background: url(../../images/red/sticky-bg.gif) no-repeat top left #F8FAED;
}

p.pinnote {
	border: 1px solid #E9DDB0;
	background: url(../../images/red/pin-bg.gif) no-repeat top left #F8FAED;
}

p.clipnote {
	border: 1px solid #E9DDB0;
	background: url(../../images/red/clip-bg.gif) no-repeat top left #F8FAED;
}

p.tips-box {
	border: 1px solid #E9DDB0;
	background: url(../../images/red/tips-bg.gif) no-repeat top left #F8FAED;
}

/* Check list */
ul.checklist li {
	background: url(../../images/red/checklist-bg.gif) no-repeat 0 0;
}

/* Big number list */
.bignumber {
	background: url(../../images/red/ol-bg.gif) no-repeat top left;
	color: #FFFFFF;
}

/* Talking box. Thinking box. */
div.bubble1 div {
	background: url(../../images/red/bub1-br.gif) no-repeat bottom right;
}

div.bubble1 div div {
	background: url(../../images/red/bub1-bl.gif) no-repeat bottom left;
}

div.bubble1 div div div {
	background: url(../../images/red/bub1-tr.gif) no-repeat top right;
}

div.bubble1 div div div div {
	background: url(../../images/red/bub1-tl.gif) no-repeat top left;
}

div.bubble2 div {
	background: url(../../images/red/bub2-br.gif) no-repeat bottom right;
}

div.bubble2 div div {
	background: url(../../images/red/bub2-bl.gif) no-repeat bottom left;
}

div.bubble2 div div div {
	background: url(../../images/red/bub2-tr.gif) no-repeat top right;
}

div.bubble2 div div div div {
	background: url(../../images/red/bub2-tl.gif) no-repeat top left;
}

div.bubble3 div {
	background: url(../../images/red/bub3-br.gif) no-repeat bottom right;
}

div.bubble3 div div {
	background: url(../../images/red/bub3-bl.gif) no-repeat bottom left;
}

div.bubble3 div div div {
	background: url(../../images/red/bub3-tr.gif) no-repeat top right;
}

div.bubble3 div div div div {
	background: url(../../images/red/bub3-tl.gif) no-repeat top left;
}

div.bubble4 div {
	background: url(../../images/red/bub4-br.gif) no-repeat bottom right;
}

div.bubble4 div div {
	background: url(../../images/red/bub4-bl.gif) no-repeat bottom left;
}

div.bubble4 div div div {
	background: url(../../images/red/bub4-tr.gif) no-repeat top right;
}

div.bubble4 div div div div {
	background: url(../../images/red/bub4-tl.gif) no-repeat top left;
}

/* Box style */
.box-hilite {
	border: 1px solid #E9DDB0;
	background: #F8FAED;
}

/* split menu
----------------------------------------------------------- */
#ja-splitmenu a {
	color: #E6E6E6;
}

#ja-splitmenu li.active a,
#ja-splitmenu li.active a:hover,
#ja-splitmenu li.active a:active,
#ja-splitmenu li.active a:focus {
	color: #333333;
	background: url(../../images/red/tab-active-right.gif) no-repeat bottom right;
}

#ja-splitmenu li.active a span,
#ja-splitmenu li.active a:hover span,
#ja-splitmenu li.active a:active span,
#ja-splitmenu li.active a:focus span {
 	background: url(../../images/red/tab-active-left.gif) no-repeat bottom left;
	color: #333333;
}

#ja-subnav a {
	color: #333333;
	background: url(../../images/red/bullet-list.gif) no-repeat left center;
}

#ja-subnav a:hover,
#ja-subnav a:active,
#ja-subnav a:focus,
#ja-subnav li.active a,
#ja-subnav li.active a:hover,
#ja-subnav li.active a:active,
#ja-subnav li.active a:focus {
	color: #FF5721;
}

/* Son of Suckerfish Dropdowns
-----------------------------------*/
#ja-cssmenu li ul {
	border: 1px solid #CCCCCC;
}

#ja-cssmenu li ul li {
	border-bottom: 1px solid #CCCCCC;
}

#ja-cssmenu li ul a:hover,
#ja-cssmenu li ul a:active,
#ja-cssmenu li ul a:focus {
	color: #FF5721;
}

#ja-cssmenu li a {
	color: #E6E6E6;
}

#ja-cssmenu li li a:hover,
#ja-cssmenu li li a:active,
#ja-cssmenu li li a:focus {
	background: none;
}

#ja-cssmenu li a.active,
#ja-cssmenu li a.active:hover,
#ja-cssmenu li a.active:active,
#ja-cssmenu li a.active:focus {
	background: #666666;
}

#ja-cssmenu li li a.active,
#ja-cssmenu li li a.hover,
#ja-cssmenu li li a.active,
#ja-cssmenu li li a.focus {
	color: #FF5721 !important;
}

#ja-cssmenu ul li:hover,
#ja-cssmenu ul ul li:hover,
#ja-cssmenu ul li.sfhover,
#ja-cssmenu ul li.havesubchildsfhover,
#ja-cssmenu ul li.havesubchild-activesfhover,
#ja-cssmenu ul ul li.sfhover,
#ja-cssmenu ul ul li.havesubchildsfhover,
#ja-cssmenu ul ul li.havesubchild-activesfhover {
	background: #EDEDED !important;
	color: #FF5721;
}

#ja-cssmenu li a.active-first-item,
#ja-cssmenu li a.active-first-item:hover,
#ja-cssmenu li a.active-first-item:active,
#ja-cssmenu li a.active-first-item:focus {
	color: #FFFFFF;
	background: #666666;
}

/* Transmenu
-----------------------------------*/
.transMenu .item.hover {
	background: #999999;
}

.transMenu .background {
	background-color: #666666!important;
}

.transMenu .item#active, .transMenu .item#active:hover {
	background: #FF5721;
}

#ja-transmenu li a { /* common styles for 1st level menu */
	color: #E6E6E6;
}

#ja-transmenu a.havechild-mainlevel-active-trans,
#ja-transmenu a.havechild-mainlevel-active-trans:hover,
#ja-transmenu a.havechild-mainlevel-active-trans:active,
#ja-transmenu a.havechild-mainlevel-active-trans:focus {
	background: #666666;
}
#ja-transmenu a.havechild-mainlevel-active-trans-first,
#ja-transmenu a.havechild-mainlevel-active-trans-first:hover,
#ja-transmenu a.havechild-mainlevel-active-trans-first:active,
#ja-transmenu a.havechild-mainlevel-active-trans-first:focus {
	background: #666666;
}
#ja-transmenu a.havechild-mainlevel-active-trans-last,
#ja-transmenu a.havechild-mainlevel-active-trans-last:hover,
#ja-transmenu a.havechild-mainlevel-active-trans-last:active,
#ja-transmenu a.havechild-mainlevel-active-trans-last:focus {
	background: #666666;
}

#ja-transmenu a.jahover-active {
	background: #666666;
}

#ja-transmenu a.mainlevel-active-trans,
#ja-transmenu a.mainlevel-active-trans:hover,
#ja-transmenu a.mainlevel-active-trans:active,
#ja-transmenu a.mainlevel-active-trans:focus {
	background: #666666;
}

#ja-transmenu a.havechild-mainlevel-active-trans-first,
#ja-transmenu a.havechild-mainlevel-active-trans-first:hover,
#ja-transmenu a.havechild-mainlevel-active-trans-first:active,
#ja-transmenu a.havechild-mainlevel-active-trans-first:focus,
#ja-transmenu a.mainlevel-active-trans-first,
#ja-transmenu a.mainlevel-active-trans-first:hover,
#ja-transmenu a.mainlevel-active-trans-first:active,
#ja-transmenu a.mainlevel-active-trans-first:focus {
	background: #666666;
}

/* Script Dropline Menu
-----------------------------------*/
#jasdl-mainnav a {
	color: #E6E6E6;
}

#jasdl-mainnav li.active a,
#jasdl-mainnav li.active a:hover,
#jasdl-mainnav li.active a:active,
#jasdl-mainnav li.active a:focus {
	color: #333333;
	background: url(../../images/red/tab-active-right.gif) no-repeat bottom right;
}

#jasdl-mainnav li.active a span,
#jasdl-mainnav li.active a:hover span,
#jasdl-mainnav li.active a:active span,
#jasdl-mainnav li.active a:focus span {
 	background: url(../../images/red/ttab-active-left.gif) no-repeat bottom left;
	color: #333333;
}

#jasdl-subnav a {
	background: url(../../images/red/bullet-list.gif) no-repeat left center;
}

#jasdl-subnav a:hover,
#jasdl-subnav a:active,
#jasdl-subnav a:focus {
	color: #FF5721;
}

#jasdl-subnav ul li.active a {
	color: #FF5721;
}


/* JA SLIDESHOW
------------------------------------------------------------- */
div#ja-slideshow-wrap {
	width: 100%;
	color: #FFFFFF;
}

div.ja-slideshow-case {
	margin: 27px 0 0 41px;
}

div.ja-slideshow-case p {
	padding-top: 9px;
}

div.ja-slidebar {
	margin: 25px 0 0 5px;
	padding: 0;
	width: 99%;
	background: #666666;
}

div.ja-slidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	z-index: 10001;
}

div.ja-slidebar ul li {
	margin: 0;
	padding: 0;
	float: left;
	display: block;
	background: none;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}

#ja-slidebar ul a.active,
#ja-slidebar ul a:hover {
	background: #787878;
	border: none;
	color: #FFFFFF;
}

div.ja-slidebar ul a.active {
	font-weight: bold;
}

div.ja-slidebar ul li a {
	border: none;
	float: left;
	margin-right: 1px;
	padding: 1px 8px;
	display: block;
	color: #D2C5A3;
	background: 50% 50%;
	cursor: pointer;
}

div.ja-slidebar ul li a.prev,
div.ja-slidebar ul li a.next {
	display: block;
	font-weight: bold;
}
 
div.ja-slidebar ul li a.prev {
	padding-left: 20px;
}
.description {
background:#999999 none repeat scroll 0%;
bottom:0pt;
padding:4px 0pt;
position:absolute;
text-indent:8px;
width:100%;
}
.description-hidden {
bottom:0pt;
padding:0pt;
position:absolute;
}