/*------------------------------------------------------------------------
# JA Pariiti - April, 2007
# ------------------------------------------------------------------------
# Copyright (C) 2004-2007 J.O.O.M Solutions Co., Ltd. All Rights Reserved.
# @license - Copyrighted Commercial Software
# Author: J.O.O.M Solutions Co., Ltd
# Websites:  http://www.joomlart.com -  http://www.joomlancers.com
-------------------------------------------------------------------------*/


/* COMMON STYLE
--------------------------------------------------------- */
html, body, form, fieldset {
	margin: 0;
	padding: 0;
}

body {
	background: #FFFFFF;
	color: #000000;
	font-family: Georgia, "Times New Roman", Times, serif;
	line-height: 1.6;
}

body#bd {
	background: #FFFCF3;
	color: #333333;
	text-align: center;
}

body.contentpane {
	margin: 1em 2em;
	width: auto; /* Printable Page */
	background: #FFFFFF;
	color: #000000;
}

body.fs1{
	font-size: 9px;
}

body.fs2{
	font-size: 10px;
}

body.fs3{
	font-size: 11px;
}

body.fs4{
	font-size: 12px;
}

body.fs5{
	font-size: 13px;
}

body.fs6{
	font-size: 14px;
}

/* Normal link */
a {
	border-bottom: 1px solid;
	color: #606B32;
	text-decoration: none;
}

a:hover, a:active, a:focus {
	border-bottom: 1px solid;
	color: #333333;
	text-decoration: none;
	background: #FAF5D7;
}

/* Title text */
.contentheading, .componentheading, .blog_more strong, h1, h2, h3, h4, h5, h6 {
	letter-spacing: -1px;
}

/* Small text */
small, .small, .smalldark, .mosimage_caption {
	font-size: 100%;
	color: #999999;
}

/* Heading */
h1 {
	font-size: 225%;
}

h2 {
	font-size: 200%;
}

h3 {
	font-size: 175%;
}

h4 {
	font-size: 125%;
	text-transform: uppercase;
}

p, pre, blockquote, ul, ol, h1, h2, h3, h4, h5, h6 {
	margin: 10px 0;
	padding: 0;
}

ul {
	list-style: none;
}

ul li {
	padding-left: 35px;
	line-height: 170%;
	background: url(../images/bullet-list.gif) no-repeat 22px 4px;
}

ol li {
	margin-left: 35px;
	line-height: 170%;
}

th {
	padding: 5px;
	font-weight: bold;
	text-align: left;
}

fieldset {
	border: none;
}

fieldset a {
	font-weight: bold;
}

hr {
	border-bottom: 0;
	border-left: 0;
	border-right: 0;
	border-top: 1px solid #CCCCCC;
	height: 1px;
}

a img {
	border: none;
}

td, div {
	font-size: 100%;
}

/* FORM
--------------------------------------------------------- */
form {
	margin: 0;
	padding: 0;
}

form label {
	cursor: pointer;
}

input, select, textarea, .inputbox {
	padding: 1px;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 100%;
}

select, textarea, .inputbox {
	background: #FFFFFF;
	color: #333333;
}

.button, .button:hover {
}

.button:active, .button:focus {
}

.inputbox {
	border: 1px solid #999999;
	margin-bottom: 1px;
}

.inputbox:hover, .inputbox:focus {
	border-color: #333333;
}

/* BONUS TYPOGRAPHY STYLES
-------------------------------------------------------------------------*/
/* Code text */
pre, .code {
	margin: 15px 0;
	padding: 15px 25px 15px 10px;
	background: #FAF5D7;
	border-top: 3px solid #D2C5A3;
	border-bottom: 3px solid #D2C5A3;
	font: 1em/1.5 monospace;
}

/* Quote */
blockquote {
	padding: 15px 0px 15px 50px;
	background: url(../images/open_quotes.gif) 20px 10px no-repeat;
	font: 12px/1.5 Georgia, Times, serif;
}

p.quote {
	margin: 0;
	padding: 0;
	background: url(../images/close_quotes.gif) bottom right no-repeat;
}

/* Quote hilight */
div.quote-hilite {
	background: url(../images/q1_std_hl.gif) no-repeat 10px 10px #FAF5D7;
	border: 1px solid #E9DDB0;
	margin-top: 20px; 
	padding-right : 5px;
	padding-bottom: 10px;
}

div.quote-hilite blockquote {
	background: url(../images/q2_std_hl.gif) no-repeat right bottom;
	margin: 0;
}

/* Dropcap */
.dropcap {
	float: left;
	padding: 0 5px 0 0;
	display: block;
	color: #333333;
	font: 50px/40px Georgia, Times, serif;
}

.dropcap-hilite {
	float: left;
	padding: 4px 3px 0 3px;
	margin: 0 4px 0 0;
	display: block;
	color: #FFFFFF;
	background: #D3660D;
	font: 50px/40px Georgia, Times, serif;
}

/* Tips, Error, Message, Hightlight*/
.error {
	padding: 5px 5px 5px 25px;
	background: url(../images/bullet-error.gif) no-repeat 0 5px;
	color: #CC0000;
}

.message {
	padding: 5px 0 5px 25px;
	background: url(../images/bullet-info.gif) no-repeat 0 5px;
	color: #D3660D;
}

.tips {
	padding: 5px 5px 5px 25px;
	background: url(../images/bullet-tips.gif) no-repeat 0 5px;
}

.highlight {
	border-bottom: 1px solid #E9DDB0;
	padding: 0 1px;
	background: #FAF5D7;
	font-weight: bold;
}

/* Note Style */
p.stickynote {
	background: url(../images/sticky-bg.gif) no-repeat top left #FAF5D7;
	padding: 10px 10px 10px 50px;
	border: 1px solid #E9DDB0;
}

p.pinnote {
	background: url(../images/pin-bg.gif) no-repeat top left #FAF5D7;
	padding: 10px 10px 10px 50px;
	border: 1px solid #E9DDB0;
}

p.clipnote {
	background: url(../images/clip-bg.gif) no-repeat top left #FAF5D7;
	padding: 10px 10px 10px 50px;
	border: 1px solid #E9DDB0;
}

p.tips-box {
	background: url(../images/tips-bg.gif) no-repeat top left #FAF5D7;
	padding: 10px 10px 10px 50px;
	border: 1px solid #E9DDB0;
}

/* Check list */
ul.checklist {
	list-style: none;
}

ul.checklist li {
	margin-left: 0px;
	padding: 2px 0 5px 25px;
	background: url(../images/checklist-bg.gif) no-repeat 0 0;
}

/* Big number list */
.bignumber {
	float: left;
	margin-right: 8px;
	padding: 7px 7px;
	display: block;
	background: url(../images/ol-bg.gif) no-repeat top left;
	color: #FFFFFF;
	font: normal 20px/normal Arial, sans-serif;
}

.blocknumber {
	clear: both;
	margin: 5px 0;
	padding: 10px 15px;
	position: relative;
}

/* Talking box. Thinking box. */
div.bubble1, div.bubble2, div.bubble3, div.bubble4 {
	margin: 15px 0;
}

div.bubble1 div {
	margin: 0;
	width: 100%;
	background: url(../images/bub1-br.gif) no-repeat bottom right;
}

div.bubble1 div div {
	background: url(../images/bub1-bl.gif) no-repeat bottom left;
}

div.bubble1 div div div {
	background: url(../images/bub1-tr.gif) no-repeat top right;
}

div.bubble1 div div div div {
	background: url(../images/bub1-tl.gif) no-repeat top left;
}

div.bubble1 div div div div div {
	margin: 0;
	padding: 15px 15px 30px 15px;
	width: auto;
}

div.bubble2 div {
	margin: 0;
	width: 100%;
	background: url(../images/bub2-br.gif) no-repeat bottom right;
}

div.bubble2 div div {
	background: url(../images/bub2-bl.gif) no-repeat bottom left;
}

div.bubble2 div div div {
	background: url(../images/bub2-tr.gif) no-repeat top right;
}

div.bubble2 div div div div {
	background: url(../images/bub2-tl.gif) no-repeat top left;
}

div.bubble2 div div div div div {
	margin: 0;
	padding: 15px 15px 35px 15px;
	width: auto;
}

div.bubble3 div {
	margin: 0;
	width: 100%;
	background: url(../images/bub3-br.gif) no-repeat bottom right;
}

div.bubble3 div div {
	background: url(../images/bub3-bl.gif) no-repeat bottom left;
}

div.bubble3 div div div {
	background: url(../images/bub3-tr.gif) no-repeat top right;
}

div.bubble3 div div div div {
	background: url(../images/bub3-tl.gif) no-repeat top left;
}

div.bubble3 div div div div div {
	margin: 0;
	padding: 15px 15px 50px 15px;
	width: auto;
}

div.bubble4 div {
	margin: 0;
	width: 100%;
	background: url(../images/bub4-br.gif) no-repeat bottom right;
}

div.bubble4 div div {
	background: url(../images/bub4-bl.gif) no-repeat bottom left;
}

div.bubble4 div div div {
	background: url(../images/bub4-tr.gif) no-repeat top right;
}

div.bubble4 div div div div {
	background: url(../images/bub4-tl.gif) no-repeat top left;
}

div.bubble4 div div div div div {
	margin: 0;
	padding: 15px 15px 55px 15px;
	width: auto;
}

/* Box style */
.box-hilite {
	border: 1px solid #E9DDB0;
	background-color: #FAF5D7;
	margin: 20px 0 0 0;
	padding: 10px;
}


/* MODULE
--------------------------------------------------------- */
div.moduletable h3 {
	margin: 0 0 5px -10px;
	padding: 7px 5px 7px 10px;
	color: #D3660D;
	font-size: 125%;
	letter-spacing: normal;
	background: url(../images/h3-bg.gif) no-repeat top left;
}

div.moduletable {
	margin: 0;
	padding: 0;
}

#ja-col1 div.moduletable {
	margin: 0 15px 10px;
}

#ja-col1 div.moduletable h3 {
	background: none;
	padding: 7px 5px 3px 10px;
}

#ja-col2 div.moduletable {
	margin: 0 15px 15px;
}


/* JOOMLA STYLE
--------------------------------------------------------- */
.article_seperator {
	display: block;
	background: url(../images/sep.gif) no-repeat center;
	height: 30px;
}

table.blog .article_seperator {
}

#ja-col1 .article_seperator,
#ja-col2 .article_seperator,
#ja-topsl .article_seperator,
#ja-botsl .article_seperator {
	display: none;
}

table.contentpane {
	border: none;
	width: 100%;
	border-collapse: collapse;
}

table.contentpaneopen {
	border: none;
	border-collapse: collapse;
}

table.contenttoc {
	margin: 0 0 10px 10px;
	padding: 0 0 5px;
	width: 30%;
}

table.contenttoc a {
	font-weight: bold;
}

table.contenttoc td {
	padding: 5px 5px 2px 25px;
	background: url(../images/bullet-list.gif) no-repeat 12px 8px;
}

table.contenttoc th {
	text-indent: 5px;
	padding: 5px;
	font-size: 125%;
	background: url(../images/h3-bg.gif) no-repeat center left;
	color: #D3660D;
}

table.poll {
	padding: 0;
	width: 100%;
	border-collapse: collapse;
}

table.pollstableborder {
	border: none;
	padding: 0;
	width: 100%;
	text-align: left;
}

table.pollstableborder img {
	vertical-align: baseline;
}

table.pollstableborder td {
	padding: 2px !important;
}

table.pollstableborder tr.sectiontableentry1 td {
	border: none;
	background: #EFEFEF;
}

table.pollstableborder tr.sectiontableentry2 td {
	border: none;
}

table.searchintro {
	padding: 10px 0;
	width: 100%;
}

table.searchintro td {
	padding: 5px !important;
}

table.adminform {
	width: 400px!important; /*Control the Frontend Editor area width*/
}

.adminform .inputbox {
}

.blog_more {
	margin: 15px 0;
}

.blog_more strong {
	margin: 0 0 5px;
	display: block;
	font-size: 150%;
}

.blog_more ul {
	margin: 0;
	padding: 0;
}

.blog_more ul li {
	padding-left: 15px;
	background: url(../images/bullet-list.gif) no-repeat 2px 4px;
	margin: 0;
}

td.buttonheading {
	padding: 0 0 0 5px!important;
	text-align: center;
}

td.buttonheading a {
	border: none;
}

.category {
	font-weight: bold;
}

.clr {
	clear: both;
}

.componentheading {
	margin-bottom: 15px;
	padding: 7px 5px 7px 10px;
	background:	url(../images/h3-bg.gif) no-repeat top left;
	color: #D3660D;
	font-size: 125%;
	font-weight: bold;
}

.contentdescription {
	padding-bottom: 30px;
}

table.blog .contentheading {
	font-size: 200%;
	font-weight: bold;
	line-height: normal;
}

.contentheading {
	font-size: 275%;
	font-weight: bold;
	line-height: normal;
}

a.contentpagetitle {
	border-bottom: none;
}

a.contentpagetitle:hover,
a.contentpagetitle:active,
a.contentpagetitle:focus {
	border-bottom: none;
}

a.readon {
	border-bottom: none;
	font-weight: bold;
}

a.readon:hover, a.readon:active, a.readon:focus {
	border-bottom: none;
}

table.contentpaneopen td, table.contentpane td {
}

table.contentpaneopen, table.contentpane, table.blog {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

.createdate {
	margin: 5px 0 10px;
	color: #999999;
	letter-spacing: 1px;
}

.modifydate {
	color: #999999;
	height: 15px;
}

.moduletable {
	padding: 0;
}

.mosimage {
	margin: 15px 10px 10px 0!important;
	margin: 15px 5px 10px 0;
	padding: 0;
}

.mosimage img {
}

.mosimage_caption {
	margin-top: 5px;
	padding: 1px 2px;
	color: #999999;
}

.pagenav, .pagenav_prev, .pagenav_next, .pagenavbar {
	padding: 0 2px;
}

a.pagenav, .pagenav_prev a, .pagenav_next a, .pagenavbar a {
}

.pagenavbar {
}

.pagenavcounter {
	padding: 8px 14px 0 14px;
	background: url(../images/pages.gif) no-repeat 0 11px;
}

.sectiontableheader {
	padding: 7px 5px;
	background: #D2C5A3;
	color: #FFFFFF;
	font-weight: bold;
}

tr.sectiontableentry1 td {
	padding: 7px 5px;
	border-bottom: 1px solid #D2C5A3;
}

tr.sectiontableentry2 td {
	padding: 7px 5px;
	border-bottom: 1px solid #D2C5A3;
}

tr.sectiontableentry1:hover td,
tr.sectiontableentry2:hover td {
	background: #FFFFFF;
}

.small {
}

.smalldark {
	text-align: left;
}

div.syndicate div {
	text-align: center;
}

.pollstableborder tr.sectiontableentry1 td,
.pollstableborder tr.sectiontableentry2 td {
	background: none;
}

/* MAIN LAYOUT DIVS
--------------------------------------------------------- */
#ja-upwrap,
#ja-containerwrap,
#ja-containerwrap-cm,
#ja-containerwrap-c,
#ja-containerwrap-f,
#ja-containerwrap-m {
	clear: both;
	width: 100%;
}

#ja-up,
#ja-container {
	margin: 0 auto;
	width: 750px;
	text-align: left;
}

.wide #ja-up,
.wide #ja-container {
	width: 860px;
}

/* PRIMARY COLUMN
--------------------------------------------------------- */
#ja-contentwrap {
	clear: both;
	margin: 20px 0;
}

#ja-content {
	float: left;
	width: 60%;
}

#ja-content div.innerpad {
	clear: both;
	margin: 0;
	padding: 0 15px;
	display: block;
	height: 400px;
}

html>body #ja-content div.innerpad {
	height: auto;
	min-height: 400px;
}

/* SECONDARY COLUMNS
--------------------------------------------------------- */
#ja-colwrap {
	float: right;
	width: 40%;
}

#ja-col1 {
	float: left;
	width: 50%;
	padding-top: 10px;
	background: url(../images/col1-top.gif) no-repeat top;
}

.narrow #ja-col1 {
	background: url(../images/col1-narrow-top.gif) no-repeat top;
}

#ja-col1 div {
	padding-bottom: 10px;
	background: url(../images/col1-bot.gif) no-repeat bottom;
	float: left;
}

.narrow #ja-col1 div {
	background: url(../images/col1-narrow-bot.gif) no-repeat bottom;
}

#ja-col1 div div {
	padding: 0;
	background: url(../images/col1-mid.gif) repeat-y top;
	float: left;
}

.narrow #ja-col1 div div {
	background: url(../images/col1-narrow-mid.gif) repeat-y top;
}

#ja-col1 div div div {
	background: none;
	float: none;
}

#ja-col2 {
	float: right;
	width: 49.9%;
	overflow: hidden;
	padding-bottom: 10px;
}

#ja-col1 table, #ja-col2 table {
	border-collapse: collapse;
	border-spacing: 0;
}

#ja-col1 ul, #ja-col2 ul {
	margin: 0;
	padding: 0;
}

#ja-col1 ul li, #ja-col2 ul li {
	padding-left: 14px;
	background: url(../images/bullet-list.gif) no-repeat 0px 5px;
}

/* COLLAPSIBLE LAYOUT
--------------------------------------------------------- */
#ja-containerwrap, #ja-containerwrap-f, #ja-containerwrap-c {
	background: url(../images/body-bg.jpg) no-repeat top center;
}

.narrow #ja-containerwrap,
.narrow  #ja-containerwrap-f,
.narrow  #ja-containerwrap-c {
	background: url(../images/body-narrow-bg.jpg) no-repeat top center;
}

#ja-container {
	background: #FFFCF3;
}

/* full */
#ja-containerwrap-f, #ja-containerwrap-f #ja-container  {

}

#ja-containerwrap-f #ja-content {
	width: 100%;
}

/* content + col */
#ja-containerwrap-c {
}

#ja-containerwrap-c #ja-container {
}

#ja-containerwrap-c #ja-content {
	width: 80%;
}

#ja-containerwrap-c #ja-colwrap {
	width: 20%;
}

#ja-containerwrap-c #ja-col1,
#ja-containerwrap-c #ja-col2 {
	width: 100%;
}

/* HEADER
--------------------------------------------------------- */
#ja-headerwrap {
}

#ja-header {
	line-height: normal;
	text-align: left;
	position: relative;
	height: 101px;
	background: url(../images/header-bg.jpg) no-repeat top center;
}

.narrow #ja-header {
	background: url(../images/header-narrow-bg.jpg) no-repeat top center;	
}

#ja-header h1 {
	margin: 0 0 0 30px;
	padding: 0;
	float: left;
	width: 260px;
	height: 80px;
	font-size: 2.5em;
}

#ja-header h1 a {
	border-bottom: none;
	color: #333333;
	width: 260px;
	height: 80px;
	text-transform: uppercase;
	display: block;
	text-indent: -500%;
	outline: none;
}

#ja-header h1 a:hover, #ja-header h1 a:active, #ja-header h1 a:focus {
	background: none;
}

#ja-header a {
}

/* SUBHEADER
--------------------------------------------------------- */
#ja-sh {
	background: url(../images/sh-bg.jpg) no-repeat 15px 0 #FAF5D7;
	padding-bottom: 15px;
}

.narrow #ja-sh {
	background: url(../images/sh-narrow-bg.jpg) no-repeat 15px 0 #FAF5D7;	
}

#ja-sh div.ja-innerpad {
	margin: 0;
	padding: 0 15px;
}

#ja-slideshow {
	margin: 0;
	padding: 0;
	float: left;
	height: 255px;
	width: 49.5%;
	overflow: hidden;
}

.narrow #ja-slideshow {
	width: 57%;
}

#ja-slideshow-wrap {
}

div#ja-shcontent {
	float: right;
	width: 50%;
	overflow: hidden;
}

.narrow div#ja-shcontent {
	width: 42.5%;
	overflow: hidden;
}

div#ja-shcontent p {
	margin-top: 0;
}

div#ja-shcontent h3 {
	background: none;
	font-size: 200%;
	margin: 10px 0 0;
	padding: 0;
}

/* MAIN NAVIGATION
--------------------------------------------------------- */
#ja-mainnav-wrap {
	background: #FAF5D7;
}

#ja-mainnav {
	background: url(../images/mn-right-bg.gif) no-repeat top right #FAF5D7;
	width: 830px;
	margin: 0 auto;
}

.narrow #ja-mainnav {
	width: 720px;
}

div.ja-mainnav-inner {
	background: url(../images/mn-left-bg.gif) no-repeat top left;
	padding-left: 20px;
}

#ja-mainnav a,
#ja-mainnav a:hover,
#ja-mainnav a:active,
#ja-mainnav a:focus {
	border-bottom: none;
}

#ja-mainnav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#ja-subnavwrap {
}

#ja-subnav {
	background: #FAF5D7;
	border-bottom: 1px solid #D2C5A3;
}

/* Default Joomla! Menu */
a.mainlevel {
	margin: 0;
	padding: 3px 5px 3px 14px;
	width: 90%;
	border: none;
	display: block;
	color: #333333;
	background: url(../images/bullet-list.gif) no-repeat 2px 7px;
}

a.mainlevel:hover,
a.mainlevel:active,
a.mainlevel:focus {
	background: url(../images/bullet-list.gif) no-repeat 2px 7px #FFFCF3;
	border: none;
}

a.mainlevel#active_menu {
	color: #D3660D;
}

a.sublevel {
	padding: 3px 3px 3px 14px;
	border-bottom: none;
	display: block;
	background: url(../images/sublevel-bg.gif) no-repeat top left;
	text-decoration: underline;
}

a.sublevel:hover,
a.sublevel:active,
a.sublevel:focus {
	border-bottom: none;
}

#active_menu {
	color: #D3660D;
	font-weight: bold;
}

/* Footer's menu */
ul#mainlevel-nav { 
	float: right;
}

ul#mainlevel-nav li { 
	margin: 0;
	padding: 0 10px;
	display: inline;
	background: none;
	border-right: 1px solid #999999;
}

/* SPOTLIGHT
--------------------------------------------------------- */
/* Spotlight Box Style */
.ja-box-left, .ja-box-center, .ja-box-right {
	float: left;
	overflow: hidden;
}

.ja-box-full {
	float: none;
	overflow: hidden;
}

.ja-box-left div.moduletable {
	padding: 0 15px 0 0;
}

.ja-box-right div.moduletable {
	padding: 0 0 0 15px;
}

.ja-box-center div.moduletable {
	padding: 0 15px;
}

/* Top Spotlight */
#ja-topslwrap {
}

#ja-topsl {
	clear: both;
	padding: 0;
	position: relative;
	background: url(../images/topsl-bg.jpg) repeat-x top left #FAF5D7;
}

#ja-topsl h3, #ja-botsl h3 {
	margin: 0 0 5px;
	padding: 0;
	background: none;
}

#ja-topsl div.moduletable {
	margin: 0;
	padding: 15px 25px;
}

#ja-topsl div.ja-box-left,
#ja-topsl div.ja-box-center,
#ja-topsl div.ja-box-right {
	padding: 0;
}

#ja-topsl div.ja-box-left,
#ja-topsl div.ja-box-center {
	background: url(../images/sl-sep.jpg) no-repeat center right;
}

/* Bottom Spotlight */
#ja-botslwrap {
	clear: both;
	background: url(../images/botsl-bg.jpg);
}

#ja-botsl {
}

#ja-botsl div.moduletable {
	padding: 15px;
	background: none;
}

#ja-botsl div.ja-box-left,
#ja-botsl div.ja-box-center {
	background: url(../images/sl-sep.jpg) no-repeat center right;
}

#ja-botsl h3 {
	margin: 0 0 5px;
	padding: 0;
}

/* Common Styles for both Spotlight Area */
#ja-topsl ul,
#ja-botsl ul {
	margin: 0;
	padding: 0;
}

#ja-topsl li,
#ja-botsl li {
	padding-left: 15px;
	margin: 0;
	background: url(../images/bullet-list.gif) no-repeat 2px 5px;
}

#ja-topsl td,
#ja-botsl td {
	padding: 0;
}

#ja-botsl .article_seperator,
#ja-topsl .article_seperator {
	display: none;
}

#ja-botsl table,
#ja-topsl table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* PATHWAY
---------------------------------------------------------*/
#ja-pathway {
	margin: 0 0 5px 5px;
	display: block;
	color: #999999;
}

#ja-pathway img {
	margin: 0 5px 1px;
}

#ja-pathway strong {
	margin-right: 5px;
}

#ja-pathway a {
	font-weight: bold;
}

/* FOOTER
--------------------------------------------------------- */
#ja-footer {
	clear: both;
	padding: 15px;
	color: #999999;
	text-align: left;
	overflow: hidden;
	position: relative;
	border-top: 1px solid #D2C5A3;
}

#ja-footer a {
	color: #999999;
	font-weight: bold;
}

#ja-footer a:hover,
#ja-footer a:active,
#ja-footer a:focus {
	color: #333333;
	font-weight: bold;
}

#ja-footer small {
	display: block;
	float: left;
}

/* MISCELLANOUS
----------------------------------------------------------- */
ul.accessibility {
	position: absolute;
	top: -100%;
}

#ja-upwrap {
	font-size: 11px;
	height: 53px;
	background: url(../images/up-bg.gif) no-repeat center top;
}

.narrow #ja-upwrap {
	background: url(../images/up-narrow-bg.gif) no-repeat center top;	
}

#ja-up {
	position: relative;
}

/* User Tools */
#ja-usertools {
	position: absolute;
	top: 9px;
	left: 0px;
}

#ja-usertools ul {
	margin: 0 15px 0 0;
	padding: 0;
	float: left;
}

#ja-usertools ul li {
	margin: 0;
	padding: 0;
	list-style: none;
	background: none;
	display: inline;
}

#ja-usertools img {
	padding: 0 3px 0 0;
}

#ja-search {
	position: absolute;
	top: 7px;
	right: 0px;
}

#ja-search div.search {
	margin: 3px 0 0 5px;
}

#ja-search div.search .inputbox {
	width: 150px;
	border: 1px solid #999999;
	padding-left: 4px;
	background: url(../images/icon-search.gif) no-repeat 95% 50% #EFEFEF;
	margin-bottom: 0;
}

div.innerpad {
	padding: 0 10px;
}

.ja-banner {
	margin-top: 10px;
	padding: 10px 0;
	text-align: center;
}

.ja-banner a, .ja-banner a:hover, .ja-banner a:active, .ja-banner a:focus {
	border-bottom: none;
}

.ja-content-module {
	margin-top: 15px;
	padding: 10px 0;
	text-align: center;
	background: url(../images/sep.gif) repeat-x top;
}

div.back_button a,
div.back_button a:hover,
div.back_button a:active,
div.back_button a:focus {
	border-bottom: none;
	float: left;
	margin: 10px 0;
	display: block;
	font-weight: bold;
}

#mod_login_password, #mod_login_username {
	width: 90%;
}

#mod_login_remember {
	border: none;
	background: none;
}

/* Clearfix */
.clearfix:after {
	clear: both;
	display: block;
	content: ".";
	height: 0;
	visibility: hidden;
}

* html > body .clearfix {
	width: 100%;
	display: block;
}

* html .clearfix {
	height: 1%;
}

/* Firefox Scrollbar Hack - Do not remove */
html {
	margin-bottom: 1px;
	height: 100%!important;
	height: auto;
}

/* JA SLIDESHOW
------------------------------------------------------------- */
div#ja-slideshow-wrap {
	color: #FFFFFF;
	width: 100%;
}

div.ja-slideshow-case {
	margin: 27px 0 0 41px;
}

div.ja-slideshow-case p {
	padding-top: 9px;
}

div.ja-slidebar {
	margin: 25px 0 0 5px;
	padding: 0;
	width: 99%;
	background: #4E5729;
}

div.ja-slidebar ul {
  	overflow: hidden;
  	margin: 0;
	padding: 0;
	z-index: 10001;
	list-style: none;
}

div.ja-slidebar ul li {
	margin: 0;
	padding:0;
	float: left;
	display: block;
	background: none;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}

div.ja-slidebar ul a.active,
div.ja-slidebar ul a:hover {
	background: #606B32;
	border: none;
	color: #FFFFFF;
}

div.ja-slidebar ul a.active {
	font-weight: bold;
}

div.ja-slidebar ul li a {
	color: #D2C5A3;
	border: none;
	background-position: 50% 50%;
  	cursor: pointer;
  	display: block;
	float: left;
  	margin-right: 1px;
	padding: 1px 8px;
}

div.ja-slidebar ul li a.prev,
div.ja-slidebar ul li a.next {
	display: block;
	font-weight: bold;
} 

div.ja-slidebar ul li a.prev {
	padding-left: 20px;
}
