/*------------------------------------------------------------------------
# JA Teline - April, 2007
# ------------------------------------------------------------------------
# Copyright (C) 2004-2007 J.O.O.M Solutions Co., Ltd. All Rights Reserved.
# @license - Copyrighted Commercial Software
# Author: J.O.O.M Solutions Co., Ltd
# Websites:  http://www.joomlart.com -  http://www.joomlancers.com
-------------------------------------------------------------------------*/
/* Son of Suckerfish Dropdowns
---------------------------------------------------------
Originally developed by Patrick Griffiths and Dan Webb
http://www.htmldog.com/articles/suckerfish/dropdowns/
---------------------------------------------------------
NOTE: After a deep research, we decide to divide this
CSS into 2 parts. The first part will define the layout.
The second part will define the visual look for this menu.
---------------------------------------------------------*/

#ja-cssmenu {
	margin: 0; /* all lists */
	float: left;
}

#ja-cssmenu ul {
	margin: 0; /* all lists */
	padding: 0;
}

#ja-cssmenu li {
	margin: 0; /* all list items */
	padding: 0;
	float: left;
	display: block;
	background: none;
	cursor: pointer;
}

#ja-cssmenu li ul {
	width: 16.4em;
	position: absolute; /* second-level lists */
	z-index: 99;
	left: -999em; /* using left instead of display to hide menus because display: none isn't read by screen readers */
	height: auto;
	w\idth: 15.9em;
}

#ja-cssmenu li ul ul {
	margin: -1.5em 0 0 12em; /* third-and-above-level lists */
}

#ja-cssmenu li li {
	padding: 0 1em 0 0;
	margin: 0;
	width: 14.9em;
}

#ja-cssmenu ul a {
	width: 14.8em;
	w\idth: 10.8em;
}

#ja-cssmenu li:hover ul ul, #ja-cssmenu li:hover ul ul ul,
#ja-cssmenu li.sfhover ul ul, #ja-cssmenu li.havechildsfhover ul ul, #ja-cssmenu li.havechild-activesfhover ul ul,
#ja-cssmenu li.sfhover ul ul ul, #ja-cssmenu li.havechildsfhover ul ul ul, #ja-cssmenu li.havechild-activesfhover ul ul ul {
	left: -999em;
}

/* This "unhides" the sub-menus (left: -999em is what hides them) */
#ja-cssmenu li:hover ul, #ja-cssmenu li li:hover ul, #ja-cssmenu li li li:hover ul,
#ja-cssmenu li.sfhover ul, #ja-cssmenu li.havechildsfhover ul, #ja-cssmenu li.havechild-activesfhover ul,
#ja-cssmenu li li.sfhover ul, #ja-cssmenu li li.havesubchildsfhover ul, #ja-cssmenu li li.havesubchild-activesfhover ul,
#ja-cssmenu li li li.sfhover ul, #ja-cssmenu li li li.havesubchildsfhover ul, #ja-cssmenu li li li.havesubchild-activesfhover ul {
	left: auto;
}

/* STYLING THE MENU
-----------------------------------*/
#ja-cssmenu li ul {
	border: 1px solid #CCCCCC;
	background: #FFFFFF;
}

#ja-cssmenu li ul li {
	border-bottom: 1px solid #CCCCCC;
}

#ja-cssmenu li ul a {
	border-right: none;
	padding: 5px 10px;
	border-top: none;
	background: none;
	font-weight: normal;
	line-height: normal;
	color: #333333;
}

#ja-cssmenu li ul a:hover,
#ja-cssmenu li ul a:active,
#ja-cssmenu li ul a:focus {
	color: #006DA3;
}

#ja-cssmenu li a {
	margin: 0;
	padding: 2px 7px 2px 8px;
	border-right: 1px solid #333333;
	display: block;
	color: #CCCCCC;
	font-size: 100%;
	font-weight: bold;
}

#ja-cssmenu li a:hover {
	color: #FFFFFF;
}

#ja-cssmenu li a.active,
#ja-cssmenu li a.active:hover,
#ja-cssmenu li a.active:active,
#ja-cssmenu li a.active:focus {
	border-bottom: 1px solid #000000;
	color: #FFFFFF;
	background: #006DA3;
}

#ja-cssmenu li li a.active,
#ja-cssmenu li li a.hover,
#ja-cssmenu li li a.active,
#ja-cssmenu li li a.focus {
	border-bottom: none !important;
	background: none !important;
	color: #006DA3 !important;
	font-weight: bold !important;
}

#ja-cssmenu li.havechild {
}

#ja-cssmenu li.havechild-active {
}

#ja-cssmenu li.havesubchild {
	background: url(img/arrowchild.gif) no-repeat 94% 50%;
}

#ja-cssmenu li.havesubchild-active {
	background: url(img/arrowchild.gif) no-repeat 94% 50%;
}

#ja-cssmenu ul li:hover,
#ja-cssmenu ul ul li:hover,
#ja-cssmenu ul li.sfhover,
#ja-cssmenu ul li.havesubchildsfhover,
#ja-cssmenu ul li.havesubchild-activesfhover,
#ja-cssmenu ul ul li.sfhover,
#ja-cssmenu ul ul li.havesubchildsfhover,
#ja-cssmenu ul ul li.havesubchild-activesfhover {
	background: #EFEFEF;
	color: #CC0000;
}

#ja-cssmenu li:hover,
#ja-cssmenu li.sfhover,
#ja-cssmenu li.havechildsfhover,
#ja-cssmenu li.havechild-activesfhover{
	background: #666666;
	color: #FFFFFF;
}

#ja-cssmenu li a.active-first-item,
#ja-cssmenu li a.active-first-item:hover,
#ja-cssmenu li a.active-first-item:active,
#ja-cssmenu li a.active-first-item:focus {
	border-bottom: 1px solid #000000;
	color: #FFFFFF;
	background: #006DA3;
}
