/*------------------------------------------------------------------------
# JA Erica 1.0 - Dec, 2007
# ------------------------------------------------------------------------
# Copyright (C) 2004-2007 J.O.O.M Solutions Co., Ltd. All Rights Reserved.
# @license - Copyrighted Commercial Software
# Author: J.O.O.M Solutions Co., Ltd
# Websites:  http://www.joomlart.com -  http://www.joomlancers.com
-------------------------------------------------------------------------*/

/* Son of Suckerfish Dropdowns
---------------------------------------------------------
Originally developed by Patrick Griffiths and Dan Webb
http://www.htmldog.com/articles/suckerfish/dropdowns/
---------------------------------------------------------
NOTE: After a deep research, we decide to divide this
CSS into 2 parts. The first part will define the layout.
The second part will define the visual look for this menu.
---------------------------------------------------------*/

#ja-mainnav div.ja-innerpad {
	float: left;
	display: block;
	background: url(../../images/navpanel-left.gif) no-repeat left;
	padding-left: 10px;
	height: 36px;
}

#ja-cssmenu {
	margin: 0; /* all lists */
	padding: 0 10px 0 0;
	float: left;
	background: url(../../images/navpanel-right.gif) no-repeat right;
	height: 36px;
}

#ja-cssmenu ul {
	margin: 0; /* all lists */
	padding: 0;
}

#ja-cssmenu li {
	margin: 0; /* all list items */
	padding: 0;
	float: left;
	display: block;
	background: none;
	cursor: pointer;
}

#ja-cssmenu li ul {
	width: 16.4em;
	position: absolute; /* second-level lists */
	z-index: 99;
	left: -999em; /* using left instead of display to hide menus because display: none isn't read by screen readers */
	height: auto;
	w\idth: 15.9em;
}

#ja-cssmenu li ul ul {
	margin: -1.9em 0 0 14.5em; /* third-and-above-level lists */
}

#ja-cssmenu li li {
	padding: 0 1em 0 0;
	margin: 0;
	width: 14.9em;
}

#ja-cssmenu ul a {
	width: 14.8em;
	w\idth: 10.8em;
}

#ja-cssmenu li:hover ul ul, #ja-cssmenu li:hover ul ul ul,
#ja-cssmenu li.sfhover ul ul, #ja-cssmenu li.havechildsfhover ul ul, #ja-cssmenu li.havechild-activesfhover ul ul, #ja-cssmenu li.activesfhover ul ul,
#ja-cssmenu li.sfhover ul ul ul, #ja-cssmenu li.havechildsfhover ul ul ul, #ja-cssmenu li.havechild-activesfhover ul ul ul, #ja-cssmenu li.activesfhover ul ul ul {
	left: -999em;
}

/* This "unhides" the sub-menus (left: -999em is what hides them) */
#ja-cssmenu li:hover ul, #ja-cssmenu li li:hover ul, #ja-cssmenu li li li:hover ul,
#ja-cssmenu li.sfhover ul, #ja-cssmenu li.havechildsfhover ul, #ja-cssmenu li.havechild-activesfhover ul, #ja-cssmenu li.activesfhover ul,
#ja-cssmenu li li.sfhover ul, #ja-cssmenu li li.havesubchildsfhover ul, #ja-cssmenu li li.havesubchild-activesfhover ul, #ja-cssmenu li li.activesfhover ul,
#ja-cssmenu li li li.sfhover ul, #ja-cssmenu li li li.havesubchildsfhover ul, #ja-cssmenu li li li.havesubchild-activesfhover ul, #ja-cssmenu li li li.activesfhover ul {
	left: auto;
}

/* STYLING THE MENU
-----------------------------------*/
/* 1st level */
#ja-cssmenu li a {
	margin: 0;
	padding: 0 15px;
	display: block;
	color: #4F4F4F;
	font-size: 110%;
	font-weight: bold;
	line-height: 36px;
	text-decoration: none;
	letter-spacing: 1px;
}

#ja-cssmenu li a:hover,
#ja-cssmenu li a:active,
#ja-cssmenu li a:focus {
}

#ja-cssmenu li:hover a,
#ja-cssmenu li.sfhover a,
#ja-cssmenu li.havechildsfhover a,
#ja-cssmenu li.havechild-activesfhover a {
	background: url(../../images/navpanel-hover.gif) repeat-x #E6E6E6;
}

#ja-cssmenu li:hover li a,
#ja-cssmenu li.sfhover li a,
#ja-cssmenu li.havechildsfhover li a,
#ja-cssmenu li.havechild-activesfhover li a {
	background: none;
}

#ja-cssmenu li a.active,
#ja-cssmenu li a.active:hover,
#ja-cssmenu li a.active:active,
#ja-cssmenu li a.active:focus {
	color: #FFFFFF;
	background: url(../../images/navpanel-active.gif) repeat-x #78CE24;
}

/* 2nd level and above */
#ja-cssmenu li ul {
	border: 1px solid #CCCCCC;
	background: url(../../images/grad3.gif) repeat top #FFFFFF;
}

#ja-cssmenu li ul li {
	border: none;
	color: #4F4F4F;
}

#ja-cssmenu li ul a {
	margin: 0;
	padding: 0 10px;
	border: none;
	white-space: nowrap;
	color: #4F4F4F;
	font-weight: normal;
	font-size: 92%;
	line-height: 30px;
	letter-spacing: normal;
}

#ja-cssmenu li.havesubchild,
#ja-cssmenu li.havesubchild-active {
	background: url(../../images/arrow.png) no-repeat 94% 50%;
}

#ja-cssmenu li ul a:hover,
#ja-cssmenu li ul a:active,
#ja-cssmenu li ul a:focus,
#ja-cssmenu ul li:hover,
#ja-cssmenu ul li.sfhover,
#ja-cssmenu ul li.havesubchildsfhover,
#ja-cssmenu ul li.havesubchild-activesfhover,
#ja-cssmenu ul ul li:hover,
#ja-cssmenu ul ul li.sfhover,
#ja-cssmenu ul ul li.havesubchildsfhover,
#ja-cssmenu ul ul li.havesubchild-activesfhover {
	color: #4F4F4F;
	background: url(../../images/grad4.gif) repeat-x top #E6E6E6;
}

#ja-cssmenu ul li a.active,
#ja-cssmenu ul li a.active:hover,
#ja-cssmenu ul li a.active:active,
#ja-cssmenu ul li a.active:focus {
	background: none !important;
	color: #0CB2F0;
	font-weight: bold;
}

