/*------------------------------------------------------------------------
# JA Erica 1.0 - Dec, 2007
# ------------------------------------------------------------------------
# Copyright (C) 2004-2007 J.O.O.M Solutions Co., Ltd. All Rights Reserved.
# @license - Copyrighted Commercial Software
# Author: J.O.O.M Solutions Co., Ltd
# Websites:  http://www.joomlart.com -  http://www.joomlancers.com
-------------------------------------------------------------------------*/

/* Son of Suckerfish Dropdowns
---------------------------------------------------------
Originally developed by Patrick Griffiths and Dan Webb
http://www.htmldog.com/articles/suckerfish/dropdowns/
---------------------------------------------------------
NOTE: After a deep research, we decide to divide this
CSS into 2 parts. The first part will define the layout.
The second part will define the visual look for this menu.
---------------------------------------------------------*/
#ja-cssmenu {
	margin: 0;; /* all lists */
	padding: 0 0 0 3px;
}

#ja-cssmenu li{
	margin: 0; /* all list items */
	padding: 0;
	float: left;
	display: block;
	background: none;
	cursor: pointer;
}
#ja-cssmenu ul {
	display: block;
	padding: 0;
	margin: 0;
	position: absolute;
	bottom: 0;
}

#ja-cssmenu ul ul {
	right: 0;
}

#ja-cssmenu div {
	position: absolute;
	top: auto;
	left: auto;
	height: 0;
	width: 0;
	overflow: hidden;
}

#ja-cssmenu li li {
	padding: 0 1em 0 0;
	margin: 0;
	width: 14.9em;
	background: url (../../images/blank.png) no-repeat;
}

/* STYLING THE MENU
-----------------------------------*/
/* 1st level */
#ja-cssmenu li a {
	margin: 0;
	padding: 0 15px;
	display: block;
	color: #4F4F4F;
	font-size: 110%;
	font-weight: bold;
	line-height: 36px;
	text-decoration: none;
	letter-spacing: 1px;
}

#ja-cssmenu li a:hover,
#ja-cssmenu li a:active,
#ja-cssmenu li a:focus {
}

#ja-cssmenu li:hover a,
#ja-cssmenu li.sfhover a,
#ja-cssmenu li.havechildsfhover a,
#ja-cssmenu li.havechild-activesfhover a {
	background: url(../../images/navpanel-hover.gif) repeat-x #E6E6E6;
}

#ja-cssmenu li:hover li a,
#ja-cssmenu li.sfhover li a,
#ja-cssmenu li.havechildsfhover li a,
#ja-cssmenu li.havechild-activesfhover li a {
	background: none;
}

#ja-cssmenu li a.active,
#ja-cssmenu li a.active:hover,
#ja-cssmenu li a.active:active,
#ja-cssmenu li a.active:focus {
	color: #FFFFFF;
	background: url(../../images/navpanel-active.gif) repeat-x #78CE24;
}

/* 2nd level and above */
#ja-cssmenu li ul {
	border: 1px solid #CCCCCC;
	background: url(../../images/grad3.gif) repeat top #FFFFFF;
}

#ja-cssmenu li ul li {
	border: none;
	color: #4F4F4F;
}

#ja-cssmenu li ul a {
	margin: 0;
	padding: 0 10px;
	border: none;
	white-space: nowrap;
	color: #4F4F4F;
	font-weight: normal;
	font-size: 92%;
	line-height: 30px;
	letter-spacing: normal;
}

#ja-cssmenu li.havesubchild,
#ja-cssmenu li.havesubchild-active {
	background: url(../../images/arrow.png) no-repeat 94% 50%;
}

#ja-cssmenu li ul a:hover,
#ja-cssmenu li ul a:active,
#ja-cssmenu li ul a:focus,
#ja-cssmenu ul li:hover,
#ja-cssmenu ul li.sfhover,
#ja-cssmenu ul li.havesubchildsfhover,
#ja-cssmenu ul li.havesubchild-activesfhover,
#ja-cssmenu ul ul li:hover,
#ja-cssmenu ul ul li.sfhover,
#ja-cssmenu ul ul li.havesubchildsfhover,
#ja-cssmenu ul ul li.havesubchild-activesfhover {
	color: #4F4F4F;
	background: url(../../images/grad4.gif) repeat-x top #E6E6E6;
}

#ja-cssmenu ul li a.active,
#ja-cssmenu ul li a.active:hover,
#ja-cssmenu ul li a.active:active,
#ja-cssmenu ul li a.active:focus {
	background: none !important;
	color: #0CB2F0;
	font-weight: bold;
}

